<dl class="tabs" data-tab> 
  <dd class="active">
	<a href="#panel2-1">Requests</a>
  </dd> 
  <dd >
	<a href="#panel2-2">Tracked</a>
  </dd>
  <dd>
	<a href="#panel2-3">Tracking You</a>
  </dd> 
</dl> 
<div class="tabs-content"> 
  <div class="content active" id="panel2-1"> 
    	<table> 
		  <thead> 
			<tr> 
			  <th width="200">Name</th> 
			  <th>Action</th> 
			  <th>Comments</th>
			</tr> 
		  </thead> 
		  <tbody> 
			<tr> 
			  <td>John Q Public</td> 
			  <td><a href="#" class="button tiny radius">Allow </a></td>
			  <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</td>  
			</tr> 
			<tr> 
			  <td>John Q Public</td> 
			  <td><a href="#" class="button tiny radius">Allow </a></td>
			  <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</td>
			</tr> 
			<tr> 
			  <td>John Q Public</td> 
			  <td><a href="#" class="button tiny radius">Allow </a></td>
			  <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</td> 
			</tr> 
			<tr> 
			  <td>John Q Public</td> 
			  <td><a href="#" class="button tiny radius">Allow </a></td>
			  <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</td>
			</tr>
		  </tbody>
		</table>		
  </div>
  <div class="content" id="panel2-2"> 
	<table> 
		  <thead> 
			<tr> 
			  <th width="200">Name</th> 
			  <th>Action</th> 
			  <th>Comments</th>
			</tr> 
		  </thead> 
		  <tbody> 
			<tr> 
			  <td>John Q Public</td> 
			  <td><a href="#" class="button tiny radius alert">Stop </a></td>
			  <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</td>  
			</tr> 
			<tr> 
			  <td>John Q Public</td> 
			  <td><a href="#" class="button tiny radius alert">Stop </a></td>
			  <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</td>
			</tr> 
			<tr> 
			  <td>John Q Public</td> 
			  <td><a href="#" class="button tiny radius alert">Stop </a></td>
			  <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</td> 
			</tr> 
			<tr> 
			  <td>John Q Public</td> 
			  <td><a href="#" class="button tiny radius alert">Stop </a></td>
			  <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</td>
			</tr>
		  </tbody>
		</table>
  </div> 
  <div class="content" id="panel2-3"> 
    <table> 
		  <thead> 
			<tr> 
			  <th width="200">Name</th> 
			  <th>Action</th> 
			  <th>Comments</th>
			</tr> 
		  </thead> 
		  <tbody> 
			<tr> 
			  <td>John Q Public</td> 
			  <td><a href="#" class="button tiny radius alert">Stop </a></td>
			  <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</td>  
			</tr> 
			<tr> 
			  <td>John Q Public</td> 
			  <td><a href="#" class="button tiny radius alert">Stop </a></td>
			  <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</td>
			</tr> 
			<tr> 
			  <td>John Q Public</td> 
			  <td><a href="#" class="button tiny radius alert">Stop </a></td>
			  <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</td> 
			</tr> 
			<tr> 
			  <td>John Q Public</td> 
			  <td><a href="#" class="button tiny radius alert">Stop </a></td>
			  <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</td>
			</tr>
		  </tbody>
		</table>
  </div> 
</div>