<form>
  <div class="row">
	<div class="row collapse">
	        <div class="small-6 small-offset-1 columns">
	          <input type="text" placeholder="Search People or Teams">
	        </div>
	        <div class="small-1 columns">
	          <a href="#" class="button disabled postfix"><i class="fi-torso style2"></i></a>
	        </div>
	        <div class="small-4 columns">
	        </div>
	      </div>
  </div>
</form>
<dl class="tabs" data-tab> 
  <dd class="active">
	<a href="#panel2-1">John Q Public</a>
  </dd> 
  <dd >
	<a href="#panel2-2">Priorities</a>
  </dd>
  <dd>
	<a href="#panel2-3">Stucks</a>
  </dd> 
</dl> 
<div class="tabs-content"> 
  	<div class="content active" id="panel2-1"> 
		<div class="panel radius">
		  	<img class="radius profile-large"src="images/default_profile.jpg">
			     <span class="update-text">
				   <div class="panel callout">
				    <div>
					  <dl> 
						<dt>John Q Public 
							<a href="#" class="button tiny radius">Follow </a>
							<a href="#" class="button tiny success radius">Join </a>
						</dt> 
						<dd>Title: Cras justo odio, dapibus ac john.q.public@aldershot.com </dd> 
					  </dl> 
					</div>
					<div>
						<table> 
						  <thead> 
							<tr> 
							  <th width="200">Statistics</th> 
							  <th>Value</th> 
							</tr> 
						  </thead> 
						  <tbody> 
							<tr> 
							  <td>Victories</td> 
							  <td>44</td>  
							</tr> 
							<tr> 
							  <td>Stucks addressed</td> 
							  <td>7</td>
							</tr> 
							<tr> 
							  <td> Stucks closed (%)</td> 
							  <td>92</td> 
							</tr> 
							<tr> 
							  <td>Priorities closed (%)</td> 
							  <td>86</td> 
							</tr>
						  </tbody>
						</table>
					</div>
				  </div>
				</span>
				<div>  Member since: Jan 1, 2014</div>
		</div>
	  </div>
  <div class="content" id="panel2-2"> 
	<div class="panel callout radius">
	  <p>This is one of the top priorities. Probably needs more content ... but not much more </p> 
	</div>
	<div class="panel callout radius">
	  <p>This is one of the top priorities.</p> 
	</div>
	<div class="panel callout radius">
	  <p>This is one of the top priorities.</p> 
	</div>
	<div class="panel radius">
	  <p>This is one of the other priorities.</p>
	</div>
	<div class="panel radius">
	  <p>This is one of the other priorities.</p>
	</div>
  </div> 
  <div class="content" id="panel2-3"> 
    <form>
      <div class="row">
	    <div class="small-12 columns">
			<div class="panel callout radius">
			   <a href="#"><img class="radius profile"src="images/default_profile.jpg"></a>
			     <span class="update-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
				 </span>
			</div>
			<div class="panel callout radius">
			   <img class="radius profile"src="images/default_profile.jpg">
			       <span class="update-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</span>
			</div>
	    </div>
	  </div>
	</form>
  </div> 
</div>