// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile {
  width: 48px;
  float: left;
}

.profile-large {
  width: 96px;
  float: left;
  margin-right: 10px;
}
.feed {
  line-height: 90%;
  white-space: normal;
  font-weight: normal;
}

.update-text {
  display: block;
  margin-left: 60px;
}

.profile-select-text {
  display: block;
  margin-left: 60px;
}