<% if user_signed_in? %>
<ul class="off-canvas-list"> 
  <li><label>Aldershot</label></li>
  <li><a href="#">Personal</a></li>
  <li><a href="#">Family</a></li>
  <li><a href="#">Career</a></li>
  <li><a href="#">Community</a></li>
</ul>
<% end %>