<div class="large-4 columns">
	<div class="section-container auto" data-section>
	  <section class="active">
	    <div class="title" data-section-title><a href="#panel1">3<br/> Priorities</a></div>
	    <div class="content" data-section-content>
	      <p><input type="text" placeholder="New Priority"></p>
	      <div class="section-container accordion" data-section="accordion">
		  <section>
		    <p class="title" data-section-title><a href="#">Priority 1</a></p>
		    <div class="content" data-section-content>
		      <p>
			    <a href="#" class="button tiny round alert">Cancel</a>
			    <a href="#" class="button tiny round success">
				  <i class="gen-icon-star"></i>
				</a>
			    <a href="#" class="button tiny round success">
				  <i class="gen-icon-star"></i>
				  <i class="gen-icon-star"></i>
				</a>
			    <a href="#" class="button tiny round success">
				  <i class="gen-icon-star"></i>
				  <i class="gen-icon-star"></i>
				  <i class="gen-icon-star"></i>
				</a>
			  </p>
		    </div>
		  </section>
		  <section>
		    <p class="title" data-section-title><a href="#">Priority 2</a></p>
		    <div class="content" data-section-content>
		      <p>Content of section 2.</p>
		    </div>
		  </section>
		</div>
	    </div>
	  </section>
	  <section>
	    <div class="title" data-section-title><a href="#panel2">4<br/> Stucks</a></div>
	    <div class="content" data-section-content>
	      <p><input type="text" placeholder="New Stuck"></p>
	      <div class="section-container accordion" data-section="accordion">
		  <section>
		    <p class="title" data-section-title><a href="#">Stuck 1</a></p>
		    <div class="content" data-section-content>
		      <p>Content of section 1.</p>
		    </div>
		  </section>
		  <section>
		    <p class="title" data-section-title><a href="#">Stuck 2</a></p>
		    <div class="content" data-section-content>
		      <p>Content of section 2.</p>
		    </div>
		  </section>
		</div>
	    </div>
	  </section>
	  <section>
	    <div class="title" data-section-title><a href="#panel2">2<br/> Blocking</a></div>
	    <div class="content" data-section-content>
	      	<div class="section-container accordion" data-section="accordion">
			  <section>
			    <p class="title" data-section-title><a href="#">John Doe wants you to.... </a></p>
			    <div class="content" data-section-content>
			      <p><input type="text" placeholder="Update John Doe">.</p>
			    </div>
			  </section>
			  <section>
			    <p class="title" data-section-title><a href="#">Jane Doe wants you to ....</a></p>
			    <div class="content" data-section-content>
			      <p><input type="text" placeholder="Update Jane Doe"></p>
			    </div>
			  </section>
			</div>
	    </div>
	  </section>
	</div>
</div>