
   <ul class="top-bar-button inline-list">
	  <li><%= link_to root_path do %>
	        <i class="fi-home style4"></i>
	      <% end %>
	  </li>
	  <% if user_signed_in? %> 
	  <li><%= link_to main_path do %>
	        <i class="fi-checkbox style4"></i>
	      <% end %>
	  </li>
	  <li><%= link_to team_path do %>
	        <i class="fi-torsos-all style4"></i>
	      <% end %>
	  </li>
	  <% end %>
	</ul>
	